* {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: orange;
}

.container {
    border: solid orangered 5px;
    border-radius: 40px;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
}

#titulo {
    background-color: orangered;
    border-radius: 50px;
    width: 40vw;
    height: 100%;
    margin: auto;
    padding-top: 5px;
}

button {
    width: 250px;
    height: 30px;
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 20px;
    background-color: orangered;
    letter-spacing: 1px;
    margin-right: 2px;
    margin-left: 2px;
    border: solid orangered 2px;
    border-radius: 20px;
    cursor: pointer;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.menu {
    height: 320px;
}

.opciones {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guarnicion {
    width: 300px;
}

.postre {
    width: 300px;
}

#combo {
    margin-top: 20px;
    Margin-bottom: 10px;
    display: none;
    background-color: orangered;
    border-radius: 30px;
    width: 10em;
    margin: auto;
    padding: 2px;
}

.combos1,
.combos2,
.combos3 {
    display: none;
    margin-top: 4px;
}


@media (max-width: 1650px){
    button{
        height:4em;
    }
    .container{
       padding-bottom:100px; 
    }
  }
  @media (max-width: 717px) and (min-width:575px){
    button{
        height:6em;
           
    }
    .container{
       padding-bottom:200px; 
    }
    .opciones {
        margin: auto;
        width: 100%;
       
    }  
  }
@media (max-width:574px){
    .opciones {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }  
    .container{
        padding-bottom:650px; 
        margin-top: 50px;
     }
     button, .guarnicion, .postre{
        min-width: 280px;
        max-width:280px;    
     }
     #titulo{
        min-width:200px;
    }
     
}

@media(max-width:380px){
    button, .guarnicion, .postre{
        max-width:220px;
        min-width:220px;
    }
    #titulo{
        min-width:200px;
    }
    .container{
        padding-bottom:700px; 
     }
}
@media(max-width:350px){
    button, .guarnicion, .postre{
        max-width:220px;
        min-width:220px;
    }
    #titulo{
        min-width:200px;
    }
    .container{
        padding-bottom:700px; 
     }

}
